* {
	margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
}
.contant {
    padding-bottom: 150px;
}

.footer {
    margin-top: -100px;
    height: 100px;
}